(:db-host "127.0.0.1"
 :db-name "focus"
 :db-user "focus"
 :db-pass "focus"
 :bind-address "0.0.0.0"
 :bind-port 8080
 :nrepl-port 5000
 :nrepl-address "127.0.0.1"
 :static-dir "./build/static/"
 ;; OAuth2 provider
 :oauth2-client-id ""
 :oauth2-client-secret ""
 :oauth2-authorize-uri ""
 :oauth2-token-uri ""
 :oauth2-redirect-uri "http://localhost:8080/api/auth/callback"
 :oauth2-scopes ("openid" "profile" "email")
 :oauth2-userinfo-uri ""
 :oauth2-userinfo-email-key "email"
 :oauth2-userinfo-username-key "username"
 :oauth2-userinfo-name-key "name"
 :app-name "Focus"
 :app-description "Issue tracker for teams")
