(:db-host "127.0.0.1"
 :db-name "focus"
 :db-user "focus"
 :db-pass "focus"
 :bind-address "0.0.0.0"
 :bind-port 8080
 :nrepl-port 5000
 :nrepl-address "127.0.0.1"
 :static-dir "./build/static/"
 ;; Mattermost OpenID Connect
 :oauth2-client-id ""
 :oauth2-client-secret ""
 :oauth2-authorize-uri "http://mattermost.example.com/oauth/authorize"
 :oauth2-token-uri "http://mattermost.example.com/oauth/token"
 :oauth2-redirect-uri "http://localhost:8080/api/auth/callback"
 :oauth2-scopes ("openid" "profile" "email")
 :app-name "Focus"
 :app-description "Issue tracker for teams")
